.experience{
    background:#050816;
    padding:100px 0;
}

.experience-card{
    background:#111827;
    border-radius:20px;
    padding:30px;
    height:100%;
    transition:.4s;
    border:1px solid rgba(255,255,255,.08);
}

.experience-card:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 35px rgba(56,189,248,.25);
}

.experience-icon{
    width:60px;
    height:60px;
    border-radius:50%;
    background:#0ea5e9;
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:25px;
    margin-bottom:20px;
}

.experience-card h4{
    color:#fff;
    font-weight:700;
}

.experience-card h5{
    color:#38bdf8;
    margin:10px 0;
}

.experience-date{
    color:#94a3b8;
    display:block;
    margin-bottom:10px;
}

.experience-card ul{
    color:#cbd5e1;
    padding-left:18px;
}

.experience-card li{
    margin-bottom:10px;
}