.footer{

background:#020617;

padding:70px 0 30px;

}

.footer h2{

color:white;
font-weight:700;

}

.footer p{

color:#94a3b8;

}

.footer-icons{

display:flex;
justify-content:flex-end;
gap:18px;

}

.footer-icons a{

width:50px;
height:50px;
background:#111827;
display:flex;
justify-content:center;
align-items:center;
border-radius:50%;
color:#38bdf8;
font-size:22px;
transition:.4s;

}

.footer-icons a:hover{

background:#38bdf8;
color:white;
transform:translateY(-6px);

}

.footer hr{

margin:40px 0;
border-color:#1e293b;

}

.footer-bottom{

display:flex;
justify-content:space-between;
align-items:center;

}

.top-btn{

width:45px;
height:45px;
border:none;
border-radius:50%;
background:#0ea5e9;
color:white;
font-size:18px;
transition:.3s;

}

.top-btn:hover{

background:#0284c7;
transform:translateY(-5px);

}

@media(max-width:768px){

.footer-icons{

justify-content:center;
margin-top:20px;

}

.footer-bottom{

flex-direction:column;
gap:20px;

}

}